# 인공지능
## 1. Python_Data_Analytics_and_Visualization

### C. Data Preprocessing

#### II. Filtering

In [1]:
import seaborn as sns
TD = sns.load_dataset('titanic')
TD.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

##### 4) 'age'가 10살 미만 또는 60상 이상
* 'age', 'sex', 'alone' 열만 출력

In [6]:
Filter_2 = (TD.age < 10) | (TD.age >= 60)
TD.loc[Filter_2, ['age', 'sex', 'alone']].head()

     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True